.toolbar {
  justify-content: space-between;
}

.topography {
  padding-left: 12px;
}

.carddiv {
  display: flex;
  flex-wrap: wrap;
}

.cardfull {
  width: 250px;
  margin-bottom: 1rem;
  margin-left: auto;
}

.itemdiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: white;
}

.back {
  color: black;
  cursor: pointer;
  margintop: 10px;
  marginleft: 10px;
}

.imagesize {
  width: 50%;
  height: 500px;
  margin-left: 40px;
  margin-top: 45px;
}

.gridone {
  height: 100%;
  margin-left: 60px;
}

.gridtwo {
  height: 100%;
  background-color: white;
}

.titletext {
  color: black;
  font-size: 2rem;
  margin-bottom: 30px;
  margin-top: 20%;
}

.gridthree {
  height: 100%;
  background-color: white;
}

.paragraph {
  color: black;
  font-size: 1.5rem;
  padding-bottom: 24px;
}
